{% extends "base.html "%}

{% block title%}
    Home Page
{% endblock %} 

{% block content %}

     <!-- Header-->
     <header class="bg-dark py-5">

   
               
    </header>

    <div class="container text-center text-light">
      <div class="row">
        <div class="col">
          <img class="img-fluid" object-fit src="{{ url_for('static', filename='assets/img/bookstore.jpg')}}" alt="..." />
        </div>
        <div class="col">
          <h1 class="display-4 fw-bolder">Welcome to the Knowledge BookStore</h1>
          <p class="lead fw-normal text-white-50 mb-0">The best bookstore in the World</p>                        
        </div>
       
      </div>
  </div>



{% endblock %}